 .target {
      width: 50px;
      height: 50px;
      background: rgb(134, 4, 221);
      position: absolute;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;
    }


    .text {
        color: white;
    }


 